<div class="container-fluid" style="padding-left: 0; padding-right: 0;">

    <footer class="text-center text-lg-start pt-3" style="background-color: #000000;">
        <div class="row justify-content-center">

            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: transparent; border: 1px solid #ffffff; width: 50px; height: 50px; padding: 5px;">
                <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: transparent; border: 1px solid #ffffff; width: 50px; height: 50px; padding: 5px;">
                <i class="fab fa-instagram"></i>
            </button>

            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: transparent; border: 1px solid #ffffff; width: 50px; height: 50px; padding: 5px;">
                <i class="fab fa-linkedin"></i>
            </button>

            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: transparent; border: 1px solid #ffffff; width: 50px; height: 50px; padding: 5px;">
                <i class="fab fa-youtube"></i>
            </button>

        </div>

        <!-- Copyright -->
        <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2); font-family: 'Poppins', sans-serif;">
            © 2024 Copyright:
            <a class="text-white">Politechnika Wrocławska</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>