<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

    *, body {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
    }

    .form-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    .form-holder .form-content {
        position: relative;
        text-align: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        padding: 60px;
    }

    .form-content .form-items {
        background-color: rgba(242, 240, 241, 0.6);
        min-width: 800px;
        min-height: 800px;
        border: 3px solid #fff;
        padding: 40px;
        display: inline-block;
        width: 100%;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        text-align: left;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .form-content h3 {
        color: #fff;
        text-align: left;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .form-content h3.form-title {
        margin-bottom: 30px;
    }

    .form-content p {
        color: #696969;
        text-align: left;
        font-size: 22px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 20px;
    }


    .form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
        color: #484848;
    }

    .form-check{
        margin-top: 10px;
        color: #484848;
        font-size: 22px;
        font-weight: 300;
    }

    .form-content input[type=text], .form-content input[type=number], .form-content input[type=password], .form-content input[type=email], .form-content select {
        width: 100%;
        padding: 9px 20px;
        text-align: left;
        border: 0;
        outline: 0;
        border-radius: 6px;
        background-color: #fff;
        font-size: 15px;
        font-weight: 300;
        color: #484848;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin-top: 16px;
    }


    .btn-primary{
        background-color: #6C757D;
        outline: none;
        border: 0px;
        box-shadow: none;
    }

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active{
        background-color: #495056;
        outline: none !important;
        border: none !important;
        box-shadow: none;
    }

    .form-content textarea {
        position: static !important;
        width: 100%;
        border-radius: 6px;
        text-align: left;
        background-color: #fff;
        border: 0;
        font-size: 15px;
        font-weight: 300;
        color: #484848;
        outline: none;
        resize: none;
        height: 120px;
        -webkit-transition: none;
        transition: none;
    }

    .form-content textarea:hover, .form-content textarea:focus {
        border: 0;
        background-color: #ebeff8;
        color: #484848;
    }

    .mv-up{
        margin-top: -9px !important;
        margin-bottom: 8px !important;
    }

    .invalid-feedback {
        color: #cc404e; /* Adjusted to a darker red */
    }

    .valid-feedback {
        color: #1e9950; /* Adjusted to a darker green */
    }

    h5 {
        color: #a8a8a8;
        text-align: left;
        font-size: 22px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 5px;
        margin-top: 10px;
    }
</style>

<div class="centered-content">
    <div class="form-body centered-content">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Wypełnij formularz</h3>
                        <br><br>
                        <form action="/gosc/obliczwskaznik" method="post" th:object="${kierunek}" class="requires-validation" th:action="@{/DzialIT/zarzadzanieWydzialami/{wydzialId}/dodawanieKierunku/potwierdzenie(wydzialId = ${wydzialId})}">
                            <div>
                                <span th:if="${#fields.hasErrors('nazwa')}" class="alert alert-danger" role="alert">
                                <strong>Error:</strong> <span th:errors="*{kierunek.nazwa}"></span>
                                </span>
                            </div>
                            <!-- ... (ваш текущий HTML-код) ... -->

                            <!-- Добавленные поля -->
                            <input type="hidden" name="wydzialId" th:field="*{wydzial}" th:value="${wydzialId}" />
                            <div class="col-md-12">
                                <label for="nazwaKierunku">Nazwa kierunku</label>
                                <input type="text" id="nazwaKierunku" name="nazwaKierunku" required maxlength="128" th:field="*{nazwa}">
                            </div>
                            <br>
                            <div class="col-md-12">
                                <label for="stopienStudiow">Stopień studiów</label>
                                <select id="stopienStudiow" name="stopienStudiow" class="form-select mt-3" required th:field="*{stopienStudiow}">
                                    <option selected disabled value="">Wybierz stopień</option>
                                    <option th:each="stop : ${T(com.study.PO.entities.kierunek.StopienStudiow).values()}"
                                            th:value="${stop}" th:text="${stop}"></option>
                                </select>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <label for="opiekunKierunku">Opiekun kierunku</label>
                                <select id="opiekunKierunku" name="opiekunKierunku" class="form-select mt-3" required th:field="*{opiekun}">
                                    <option selected disabled value="">Wybierz opiekuna</option>
                                    <option th:each="item : ${opiekunowi}" th:value="${item.id}" th:text="${item.getNazwisko() + ' ' + item.getImie()}"></option>
                                </select>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <label for="planStudiow">Plan studiów</label>
                                <textarea id="planStudiow" name="planStudiow" required maxlength="2048" th:field="*{planStudiow}"></textarea>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <label for="liczbaMiejsc">Liczba Miejsc</label>
                                <input type="number" id="liczbaMiejsc" name="liczbaMiejsc" min="1" required th:field="*{prognLiczbaMiejsc}">
                            </div>
                            <br>
                            <div class="col-md-12">
                                <label for="progPunktowy">Próg punktowy</label>
                                <input type="number" id="progPunktowy" name="progPunktowy" min="1" required th:field="*{progPunktowy}">
                            </div>
                            <br>
                            <div class="col-md-12">
                                <label for="cenaZaWniosek">Cena za wniosek (zł)</label>
                                <input type="number" id="cenaZaWniosek" name="cenaZaWniosek" step="0.01" required th:field="*{cenaZaWniosek}">
                            </div>

                            <!-- ... (ваш текущий HTML-код) ... -->

                            <div class="form-button mt-3 pt-2 d-flex justify-content-between">
                                <!-- Добавленная кнопка -->
                                <button id="cancel" type="button" class="btn btn-danger" th:onclick="'window.location.href=\'/DzialIT/zarzadzanieWydzialami/\' + ' + ${wydzialId}">Cofnij</button>


                                <!-- Кнопка отправки формы -->
                                <button id="submit" type="submit" class="btn btn-info">Dalej</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>