<div class="content_gradient">
    <div class="content_title">
        <p>Oblicz swój wskaźnik rekrutacyjny!</p>
    </div>
    <div class="content_container">
        <div class="content">
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
            Something <br>
        </div>
    </div>
</div>