<style>
  .content {
    text-align: center; /* Wyśrodkuj tekst w kontenerze */
  }

  .content a {
    display: inline-block; /* or display: block; */
    position: relative;
    margin-bottom: 20px;
  }

  .content a:after {
    content: '';
    height: 3px;
    width: 0;
    background: #E65728;
    position: relative;
    left: 0;
    top: 100%;
    transition: width 0.5s;
  }

  .content a:hover:after {
    width: 100%;
  }

  .btn-container-back {
    position: absolute;
    bottom: 80px;
    left: 80px;
    padding: 10px;
  }

  button {
    background-color: #8A5FA5;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Full width for mobile, adjust as needed */
    width: auto; /* Adjust based on your layout requirements */
  }

  .content_container_1 {
    flex: 1; /* Take up remaining vertical space */
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 150px;
  }

</style>

<div class="content_gradient">
  <div class="content_title">
    <p>Przeprowadzenie rekrutacji</p>
  </div>
  <div class="content_container_1">
    <div class="content main-content-links">
      <ul>
        <li> <a th:href="@{/dzialRekrutacji/przeprowadzenieRekrutacji/wnioski}">Przeglądanie wniosków</a> <br> </li>
        <li><a>Weryfikacja wniosków</a> <br></li>
        <li><a>Edycja statusu wniosków</a> <br></li>
      </ul>
    </div>
  </div>

  <div class="btn-container-back">
    <button th:text="Wstecz" onclick="goBack()">Wstecz</button>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </div>
</div>
