<div class="content_title" xmlns:th="http://www.w3.org/1999/xhtml">
    <p>Stopień studiów</p>
</div>
<div class="centered-content">
    <div class="form-body centered-content">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Dołącz dokumenty rekrutacyjne</h3>
                        <div class="form-buttons mt-3 pt-2 d-flex justify-content-between">
                            <a th:href="@{/kandydat/defwniosku/danedodatkowe}" class="btn btn-dark">Wstecz</a>
                            <a th:href="@{/kandydat/defwniosku/potwierdzenie}" class="btn btn-info">Dalej</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>