<div class="content_title" xmlns:th="http://www.w3.org/1999/xhtml">
    <p>Oblicz swój wskaźnik rekrutacyjny!</p>
</div>
<div class="centered-content" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="form-body centered-content">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <form action="/gosc/obliczwskaznik/I/wskaznik" method="post" th:object="${viewModel}" class="requires-validation" novalidate>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 40%;">Egzamin</th>
                                    <th style="width: 30%;">Poziom podstawowy</th>
                                    <th style="width: 30%;">Poziom rozszerzony</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <!-- Use Thymeleaf to iterate over the rows -->
                                    <tr th:each="item : ${viewModel.nazwyEgzaminow}">
                                        <td th:text="${item}" style="width: 40%;"></td>
                                        <td th:if="${viewModel.wynikiPodstawa.containsKey(item)}" style="width: 30%;">
                                            <div>
                                                <input class="form-control" type="number" th:field="*{wynikiPodstawa[__${item}__]}" required/>
                                                <div class="valid-feedback"></div>
                                                <div class="invalid-feedback">Wynik wymagany</div>
                                            </div>
                                        </td>
                                        <td th:unless="${viewModel.wynikiPodstawa.containsKey(item)}" style="width: 30%;">
                                        </td>
                                        <td th:if="${viewModel.wynikiRozszerzenie.containsKey(item)}" style="width: 30%;">
                                            <div>
<!--                                                <input class="form-control" type="number" th:value="${viewModel.wynikiRozszerzenie[item]}" required/>-->
                                                <input class="form-control" type="number" th:field="*{wynikiRozszerzenie[__${item}__]}" required/>
                                                <div class="valid-feedback"></div>
                                                <div class="invalid-feedback">Wynik wymagany</div>
                                            </div>
                                        </td>
                                        <td th:unless="${viewModel.wynikiRozszerzenie.containsKey(item)}" style="width: 30%;">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-bordered" th:if="${viewModel.czyEgzaminDodatkowy}">
                                <thead>
                                <tr>
                                    <th style="width: 40%;">Egzamin dodatkowy</th>
                                    <th style="width: 60%;">Wynik</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Use Thymeleaf to iterate over the rows -->
                                    <tr th:if="${viewModel.czyEgzaminRysunek}">
                                        <td style="width: 40%;">Egzamin z rysunku</td>
                                        <td style="width: 60%;">
                                            <div>
                                                <input class="form-control" type="number" th:value="${viewModel.wynikEgzaminRysunek}" required/>
                                                <div class="valid-feedback"></div>
                                                <div class="invalid-feedback">Wynik wymagany</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr th:if="${viewModel.czyStudiumTalentMatematyka}">
                                        <td style="width: 40%;">Studium Talent - matematyka</td>
                                        <td style="width: 60%;">
                                            <div>
                                                <input class="form-control" type="number" th:value="${viewModel.wynikStudiumTalentMatematyka}" required/>
                                                <div class="valid-feedback"></div>
                                                <div class="invalid-feedback">Wynik wymagany</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr th:if="${viewModel.czyStudiumTalentFizyka}">
                                        <td style="width: 40%;">Studium Talent - fizyka</td>
                                        <td style="width: 60%;">
                                            <div>
                                                <input class="form-control" type="number" th:value="${viewModel.wynikStudiumTalentFizyka}" required/>
                                                <div class="valid-feedback"></div>
                                                <div class="invalid-feedback">Wynik wymagany</div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="col-md-12">
                                <select id="nazwaKierunku" name="nazwaKierunku" class="form-select mt-3" required>
                                    <option selected disabled value="">Kierunek</option>
                                    <option th:each="nazwa : ${nazwyKierunkow}" th:value="${nazwa}" th:text="${nazwa}"></option>
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Proszę wybrać nazwę kierunku!</div>
                            </div>

                            <div class="form-buttons mt-3 pt-2 d-flex justify-content-center">
                                <button id="submit" type="submit" class="btn btn-info">Oblicz</button>
                            </div>
                            <p>Wskaźnik rekrutacyjny: </p>
                            <span>
                                <h3 th:text="${wskaznik} != null ? ${wskaznik} : ''"></h3>
                            </span>
<!--                            <p>Wskaźnik rekrutacyjny: </p>-->
<!--                            <span>-->
<!--                                <h3 id="wskaznikValue"></h3>-->
<!--                            </span>-->
                            <div class="form-buttons mt-3 pt-2 d-flex justify-content-between">
                                <button id="back" type="button" class="btn btn-dark" onclick="goBack()">Wstecz</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
    (function () {
        'use strict'
        const forms = document.querySelectorAll('.requires-validation')
        Array.from(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }

              form.classList.add('was-validated')
            }, false)
      })
    })()
</script>