<style>
  .table-container {
    max-height: 450px; /* Adjust the maximum height as needed */
    overflow-y: auto;
  }

  table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  .btn-container-back {
    position: absolute;
    bottom: 80px;
    left: 30px;
    padding: 10px;
  }


  th {
    background-color: rgba(242, 240, 241, 0.4);
  }


  .table-action a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    position: relative; /* Add position: relative; to allow absolute positioning of :after */
  }

  .table-action a:after {
    content: '';
    height: 3px;
    width: 0;
    background: #E65728;
    position: absolute;
    left: 0;
    bottom: -4px; /* Adjusted to be at the bottom of the anchor */
    transition: width 0.5s; /* Adjusted to only transition the width property */
  }

  .table-action a:hover:after {
    width: 100%;
  }

  .filter-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filter-input {
    padding: 5px;
    margin-right: 30px;
    background-color: rgba(242, 240, 241, 0.4);
    border: none;
  }

  .filter-button {
    padding: 8px;
    background-color: #E65728;
    color: #fff;
    cursor: pointer;
    border: none;
  }

  .filter-input-container {
    margin-right: 20px;
  }

  .filter-label {
    margin-bottom: 5px;
  }

</style>

<script th:inline="javascript">
  function filterWnioski() {
    var params = new URLSearchParams();
    var kierunek = document.getElementById('kierunek').value;
    var status = document.getElementById('status').value;
    var stopien = document.getElementById('stopien').value;
    var wydzial = document.getElementById('wydzial').value;

    if (kierunek) params.append('kierunek', kierunek);
    if (status) params.append('statusWniosku', status);
    if (stopien) params.append('stopienKierunku', stopien);
    if (wydzial) params.append('wydzialNameOrCode', wydzial);

    var redirectUrl = /*[[ @{/dzialRekrutacji/przeprowadzenieRekrutacji/wnioski} ]]*/ '';

    if (params.toString()) {
      redirectUrl += '?' + params.toString();
    }

    window.location.href = redirectUrl;
  }

  function capitalizeFirstLetter(inputElement) {
    var inputValue = inputElement.value;

    // Check if the input is not empty
    if (inputValue.length > 0) {
      // Capitalize the first letter and make the rest lowercase
      var capitalizedText = inputValue.charAt(0).toUpperCase() + inputValue.slice(1).toLowerCase();
      // Set the modified text back to the input field
      inputElement.value = capitalizedText;
    }
  }
</script>

<div class="content_gradient">

  <div class="filter-container">
    <div class="filter-input-container">
      <label class="filter-label">Nazwa kierunku</label>
      <input id="kierunek" class="filter-input" type="text" oninput="capitalizeFirstLetter(this)">
    </div>
    <div class="filter-input-container">
      <label class="filter-label">Status</label>
      <input id="status" class="filter-input" type="text" oninput="capitalizeFirstLetter(this)">
    </div>
    <div class="filter-input-container">
      <label class="filter-label">Stopień</label>
      <input id="stopien" class="filter-input" type="text" oninput="capitalizeFirstLetter(this)">
    </div>
    <div class="filter-input-container">
      <label class="filter-label">Wydział</label>
      <input id="wydzial" class="filter-input" type="text" oninput="capitalizeFirstLetter(this)">
    </div>

    <button class="filter-button" onclick="filterWnioski()">Filtruj</button>
  </div>

  <div class="table-container">
    <br><br><br>
    <table>
      <thead>
      <tr>
        <th>Stopień</th>
        <th>Kierunek</th>
        <th>Kandydat</th>
        <th>Status</th>
        <th>Akcja</th>
      </tr>
      </thead>
      <tbody>
      <!-- Example Thymeleaf loop for dynamic content -->
      <tr th:each="row : ${wnioskiDane}">
        <td th:text="${row.stopienStudiow}"></td>
        <td th:text="${row.nazwaKierunku}"></td>
        <td th:text="${row.imie + ' ' + row.nazwisko}"></td>
        <td th:text="${row.statusWniosku}"></td>
        <td>
            <span class="table-action">
              <a th:href="@{/dzialRekrutacji/przeprowadzenieRekrutacji/wnioski/{wniosekId}(wniosekId=${row.id})}" th:text="Zobacz"></a>
            </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="btn-container-back">
    <button th:text="Wstecz" onclick="goBack()">Wstecz</button>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </div>
</div>
