<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout_style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div th:fragment="top_bar_content"></div>
    </div>
    <div class="main-content">
        <div th:fragment="content"></div>
    </div>

    <div class="footer">
        <button class="clickable"><i class="fab fa-facebook-f" style="color: #ffffff;"></i></button>
        <button class="clickable"><i class="fab fa-instagram" style="color: #ffffff;"></i></button>
        <button class="clickable"><i class="fab fa-linkedin-in" style="color: #ffffff;"></i></button>
        <button class="clickable"><i class="fab fa-youtube" style="color: #ffffff;"></i></button>
    </div>
</div>
</body>
</html>