<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="navbar">
        <a th:href="@{/}">
            <img src="/images/PWr_icon.png" alt="PWr small logo" class="small-image">
        </a>
        <ul>
            <li><a th:href="@{/gosc/przegladKierunki}">Kierunki</a></li>
            <li><a th:href="@{/gosc/obliczwskaznik}">Oblicz wskaźnik</a></li>
            <li><button class="login_button" th:onclick="@{/logowanie}">
                LOGIN
            </button></li>
        </ul>
    </div>
</div>