<div xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a th:href="@{/}">
                    <img src="/images/PWr_icon.png" alt="PWr small logo" class="small-image">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right ml-auto" style="font-family: 'Poppins', sans-serif;">
                <li><a th:href="@{/gosc/przegladKierunki}">Kierunki</a></li>
                <li><a th:href="@{/gosc/obliczwskaznik}">Oblicz wskaźnik</a></li>
            </ul>
            <button type="button" class="btn btn-outline-success" style="font-family: 'Poppins', sans-serif;">LOGIN</button>
        </div>
    </nav>
</div>