<div xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a th:href="@{/}">
                    <img src="/images/PWr_icon.png" alt="PWr small logo" class="small-image">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right ml-auto" style="font-family: 'Poppins', sans-serif;">
                <li><a th:href="@{/kandydat/}">Moje wnioski</a></li>
            </ul>
            <button class="user_icon"><i class="fas fa-user" style="font-size: 24px; color: #ffffff;"></i></button>
        </div>
    </nav>
</div>