<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="navbar">
        <a th:href="@{/}">
            <img src="/images/PWr_icon.png" alt="PWr small logo" class="small-image">
        </a>
        <ul>
            <li><a th:href="@{/kandydat/obliczwskaznik}">Oblicz wskaźnik</a></li>
            <li><a th:href="@{/kandydat/danepersonalne}">Złóż wniosek</a></li>
            <li><a th:href="@{/kandydat/}">Moje wnioski</a></li>
            <li><button class="user_icon">
                <i class="fas fa-user" style="color: #ffffff;"></i>
            </button></li>
        </ul>
    </div>
</div>